
    
<div class='box'>
</div>
<div class='content-container'>
	    <div class="group_content_title" style="text-align:center;">
      <br/><br/><br/><br/><br/>
      <h2>The Autobiography of</h2>
      <h1>Dylan Pavelko</h1>
      <br/><br/><br/><br/>
    </div>
<% @page_title = "UserAuth | Login" -%>
<div class="group_content_text">
<div class= "Sign_Form" style="margin-left:35%;">
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  <h1>Log in</h1>
  <%= form_tag(:action => 'login_attempt') do %>
    <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p> 
    <p>Password:</br> <%= password_field_tag :login_password %></p> 
    <%= submit_tag("Log In") %> <%= link_to "Create an account", users_new_path %> 
  <% end %>

</div>
</div>
</div>