<h1>Welcome#index</h1>
<%= link_to 'Relationship Types', relationship_types_path %><br/>
<%= link_to 'Character Tags', character_tags_path %>

<%= link_to 'Groups', groups_path %>

<%= link_to 'Styles', styles_path %>
<%= link_to 'Content Types', content_types_path %>

<%= link_to 'Content Block', content_blocks_path %>


<p>Find me in app/views/welcome/index.html.erb</p>
