<br/>
 <% if @current_user.role_id ==1 %>
<div class='box0'>
</div>
<% end %>
<div class='box'>
</div>
<div class='content-container'>
  <div class="group">
    <div class="group_content_title">
      <br/><br/><br/>
      <h2>Table of Contents</h2>
    </div>
  </div>
  <div class="group">
    <div class="group_content_text">
      <ul>
        <li><a href="#title45" >Foreward</a></li>
        <% @groups.each do |group| %>
          <% if @contentBlocks.find(group.chunk_id).contentType.name == "Title" %>
              <li>
                <a href=<%= "#title" + group.id.to_s %> ><%= @contentBlocks.find(group.chunk_id).content %></a>
              </li>
            <% end %>
          <% end %> 
        </ul>
      </div>
  </div>
    <div class="group">
        <div class="group_content_title">
        <h2>Foreward</h2>
      </div>
  </div>
    <div class="group">
        <div class="group_content_text">
        <ul>
          <p>foreward text here</p>
      </div>
  </div>
    <% @groups.each do |group| %>
      <div class="group">
      	<% if @contentBlocks.find(group.chunk_id).contentType.name == "Image" %>
      		<div class="group_content_image">
        <% elsif @contentBlocks.find(group.chunk_id).contentType.name == "Title" %>
        <div class="group_content_title"  id=<%= "title" + group.id.to_s %>>
      	<% else %>
      		<div class="group_content_text">
      	<% end %>
          	<%if group.chunk_id != nil %>
            <% if @contentBlocks.find(group.chunk_id).contentType.name == "Image" %>
               <img src=<%= @contentBlocks.find(group.chunk_id).content %> />
            <% elsif @contentBlocks.find(group.chunk_id).contentType.name == "Title" %>
              <h2>
                <%= @contentBlocks.find(group.chunk_id).content %>
              </h2>
            <% else %>
              <p>
                <%= simple_format(@contentBlocks.find(group.chunk_id).content) %>
              </p>
            <% end %>
          <% end %>
          <!-- Group Data -->
        </div>
          <% if @current_user.role_id ==1 %>
          <div class="group_attributes">
          <!-- Character Tags -->
            <% if @characters.where(:group_id => group.id).count>0 %>
            
                    <% @characters.where(:group_id => group.id).each do |character| %>
                    <% if @characterTags.find(character.characterTag_id).image_url != nil %>
                      <span><img class='characterIcon' src=<%= @characterTags.find(character.characterTag_id).image_url %> /></span>
                      <%else%>
                      <span><%= @characterTags.find(character.characterTag_id).name %></span>
                      <%end%>
                    <% end %>
                    <% if @storylines.where(:group_id => group.id).count>0 %>
                      <br/>
                    <% end %>
            <% end %>

             <!-- Storyline Tags -->
             <% if @storylines.where(:group_id => group.id).count>0 %>
              
                  <% @storylines.where(:group_id => group.id).each do |storyline| %>
                    <span class='storytag'><%= @storylineTags.find(storyline.storylineTag_id).name %></span>
                  <% end %>
               
            <% end %> 

     	      <%= link_to image_tag('http://stlnet.org/images/edit.gif'), edit_group_path(group) %> 
     	</div>
      <% end %>
     </div>
     <div>
     </div>
    <% end %>

</div>