<head>

  


</head>
  <script>
  
  $(function() {
    $( "#slider-text" ).slider({
      value:1,
      min: 0,
      max: 2,
      step: 1,
      slide: function( event, ui ) {
        $( "#amount2" ).val( getTextDetail(ui.value) );
        $( "#viewing_preference_textDetailLevel" ).val( ui.value );
      }
    });
    $( "#amount2" ).val( getTextDetail($( "#slider-text" ).slider( "value" )) );
    $( "#viewing_preference_textDetailLevel" ).val( $( "#slider-text" ).slider( "value" ) );
  });

function getTextDetail(value){
  if(value == 0){
        display = "Summaries Only";
      }else if(value == 2){
        display = "More Stories";
      }else{
        display = "Normal";
      }
      return display;
}

    $(function() {
    $( "#slider-images" ).slider({
      value:2,
      min: 0,
      max: 3,
      step: 1,
      slide: function( event, ui ) {
        $( "#amount3" ).val( getImageDetail(ui.value) );
        $( "#viewing_preference_imageDetailLevel" ).val( ui.value );
      }
    });
    $( "#amount3" ).val( getImageDetail($( "#slider-images" ).slider( "value" )) );
    $( "#viewing_preference_imageDetailLevel" ).val( $( "#slider-images" ).slider( "value" ) );
  });

    function getImageDetail(value){
  if(value == 0){
        display = "None";
      }else if(value == 1){
        display = "A Few";
      }else if(value == 3){
        display = "Lots";
      }else{
        display = "Normal";
      }
      return display;
}


    var baseStart =   <% if @existing_viewing_preference != nil %>
                          <%=  @existing_viewing_preference.startDate.strftime("%Y") %>
                      <% else %>
                          <%= "1989" %>
                      <% end %>;
    var baseEnd = <% if @existing_viewing_preference != nil %>
                          <%=  @existing_viewing_preference.endDate.strftime("%Y") %>
                      <% else %>
                          <%= "getCurrentYear()" %>
                      <% end %>;
    $(function() {
      $( "#slider-range" ).slider({
        range: true,
        min: 1984,
        max: getCurrentYear(),
        values: [ baseStart, baseEnd ],
        slide: function( event, ui ) {
          $( "#amount" ).val( getDate(ui.values[ 0 ]) + " to " + getDate(ui.values[ 1 ]) );
          $( "#viewing_preference_startDate" ).val( ui.values[ 0 ] );
          $( "#viewing_preference_endDate" ).val( ui.values[ 1 ] );

        }
      });

      $( "#amount" ).val( getDate($( "#slider-range" ).slider( "values", 0 )) + " to " + getDate($( "#slider-range" ).slider( "values", 1 )) );
      $( "#viewing_preference_startDate" ).val(baseStart);
      $( "#viewing_preference_endDate" ).val(baseEnd);
    });

    function getDate(value) {
      if(value == 1988){
        display = "My Parents Meeting";
      }else if(value == 1987){
        display = "My Parents Story";
      }else if(value == 1986){
        display = "My Grandparents Story";
      }else if(value == 1985){
        display = "My Ancestry (1800's)";
      }else if(value == 1984){
        display = "My Ancestry (<1800's)";
      }else if(value == getCurrentYear()){
        display = "Today"
      }else{
        display = value;
      }
      return display;
    }

    function getCurrentYear(){
      return new Date().getFullYear()
    }

  </script>



    
<div class='box'>





<div class='content-container'>
<div class="group_content_text">
  <br/>
  <br/>
  <h3>Adjust your viewing preferences</h3>
  <br/>



  <!-- Story Tags -->
<!--   <div class="field">
    <%#= f.label :storylineTag_id, "Storylines" %><br>
     <%#= collection_check_boxes(:storylineTags, :ids, StorylineTag.all, :id, :name, {}, {:multiple => true}) %>
  </div> -->
  <!-- Character Tags -->
<!--   <div class="field">
    <%#= f.label :characterTags %><br>
    <%#= collection_check_boxes(:characterTags, :ids, CharacterTag.all, :id, :name, {}, {:multiple => true}) %>
  </div> -->


  <%= form_for @viewing_preference, :url => url_for(:controller => 'pages', :action => 'set_user_view_preferences') do |f| %>
  <% if @viewing_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@viewing_preference.errors.count, "error") %> prohibited this viewing_preference from being saved:</h2>

      <ul>
      <% @viewing_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%#= f.label :characterTag_id %><br>
    <%#= collection_select(:characterTag_id, :id, CharacterTag.all, :id, :name, :include_blank => true ) %>
  </div>
  <div class="field">
    <%#= f.label :storylineTag_id %><br>
    <%#= collection_select(:storylineTag_id, :id, StorylineTag.all, :id, :name,  :include_blank => true ) %>
  </div> -->

  <!-- Time Frame -->
  <div class="field">
    <%= f.hidden_field :startDate %>
    <%= f.hidden_field :endDate %>
    <label for="amount">Time Frame:</label>
    <input type="text" id="amount" size="60" readonly style="border:0; font-weight:bold;"> 
    <div id="slider-range" style="width:80%;"></div>
  </div>

  <div class="field">
      <label for="amount2">Narrative Detail:</label>
      <%= f.hidden_field :textDetailLevel %>
  <input type="text" id="amount2" readonly style="border:0; font-weight:bold;">
  <input type="hidden" id="textDetail" readonly> 
  <div id="slider-text" style="width:80%;"></div>
  </div>

  <!-- Image Detail Level -->
  <div class="field">
    <%= f.hidden_field :imageDetailLevel %>
    <label for="amount3">Images:</label>
    <input type="text" id="amount3" readonly style="border:0; font-weight:bold;">
    <input type="hidden" id="imageDetail" readonly> 
    <div id="slider-images" style="width:80%;"></div>
 </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


</div>
</div>
  </div>