<br/>

<div class='box0'>
</div>
<div class='box'>
</div>
<div class='content-container'>
    <% @groups.each do |group| %>
      <div class="group">
      	<% if @contentBlocks.find(group.chunk_id).contentType.name == "Image" %>
      		<div class="group_content_image">
        <% elsif @contentBlocks.find(group.chunk_id).contentType.name == "Title" %>
        <div class="group_content_title">
      	<% else %>
      		<div class="group_content">
      	<% end %>
          	<%if group.chunk_id != nil %>
            <% if @contentBlocks.find(group.chunk_id).contentType.name == "Image" %>
               <img src=<%= @contentBlocks.find(group.chunk_id).content %> />
            <% elsif @contentBlocks.find(group.chunk_id).contentType.name == "Title" %>
              <h3>
                <%= @contentBlocks.find(group.chunk_id).content %>
              </h3>
            <% else %>
              <p>
                <%= simple_format(@contentBlocks.find(group.chunk_id).content) %>
              </p>
            <% end %>
          <% end %>
          <!-- Group Data -->
        </div>
          
          <div class="group_attributes">
          <!-- Character Tags -->
            <% if @characters.where(:group_id => group.id).count>0 %>
            
                    <% @characters.where(:group_id => group.id).each do |character| %>
                    <% if @characterTags.find(character.characterTag_id).image_url != nil %>
                      <span><img class='characterIcon' src=<%= @characterTags.find(character.characterTag_id).image_url %> /></span>
                      <%else%>
                      <span><%= @characterTags.find(character.characterTag_id).name %></span>
                      <%end%>
                    <% end %>
                    <% if @storylines.where(:group_id => group.id).count>0 %>
                      <br/>
                    <% end %>
            <% end %>

             <!-- Storyline Tags -->
             <% if @storylines.where(:group_id => group.id).count>0 %>
              
                  <% @storylines.where(:group_id => group.id).each do |storyline| %>
                    <span class='storytag'><%= @storylineTags.find(storyline.storylineTag_id).name %></span>
                  <% end %>
               
            <% end %> 

     	<%= link_to image_tag('http://stlnet.org/images/edit.gif'), edit_group_path(group) %> 
     	</div>
     </div>
     <div>
     </div>
    <% end %>

</div>