<%= form_for(@era) do |f| %>
  <% if @era.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@era.errors.count, "error") %> prohibited this era from being saved:</h2>

      <ul>
      <% @era.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br>
    <%= f.date_select :startDate, :start_year=>1900,:end_year=>2030 %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br>
    <%= f.date_select :endDate, :start_year=>1900,:end_year=>2030 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
