<!DOCTYPE html>
<html>
<head>
  <title>Memoir</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.cookie' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="main">
	<%= render "layouts/header" %>
	<br/>
	<%=yield %>
	<%= render "layouts/footer" %>
</div>

<div id="background">
</div>

</body>
</html>
